html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}











#title {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 5vh;
    font-size: 24px;
    z-index: 9999;
    font-weight: 600;
}


#main_nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: #fff;
}

#main_nav > ul {
    margin-top: 15vh;
    width: 100%;
    height: 100%;
}

#main_nav > ul {
    display: none;
}

#main_nav > ul > li {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
}

#main_nav .day_list li {
    height: 10vh;
    border-bottom: 1px solid red;
    line-height: 10vh;
}

.click_none {
    font-size: 24px;
    font-weight: 600;
}

#menu_btn {
    position: fixed;
    top: 3vh;
    right: 5vw;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

#main_section {
    margin-top: 15vh;
}

img {
    width: 100%;
}

.calendarTitle {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 5vh 0;
}

#main_section > div {
    display: none;
}

#menu_back_btn {
    position: fixed;
    z-index: 9999;
    top: 3vh;
    right: 5vw;
    display: none;
}

#all {
    z-index: 9999;
    position: absolute;
    top: 15vh;
    right: 10vw;
}

#main_nav.on > ul.on {
    display: block;
}

#main_nav.on {
    display: block;
}

#main_nav {
    display: none;
}

#main_section div.on {
    display: block;
}

#main_section div {
    display: none;
}

#main_section a {
    display: none;
}

.siteBtn {
    margin: 3vh 0;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: 0;
}

